* {
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

.container {
  background-color: hsl(212, 45%, 89%);
  width: 100%;
  min-height: 97.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 350px;
  height: 550px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 20px;
}

.qrcode {
  justify-content: top;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  width: 90%;
  height: 70%;
  border-radius: 15px;
  margin-left: 5%;
  text-align: center;
}

.h2 {
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  margin-top: 8%;
  color: hsl(218, 44%, 22%);
}

.paragraph {
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  margin-top: 5%;
  color: hsl(220, 15%, 55%);
}

.attribution {
  background-color: hsl(212, 45%, 89%);
  text-align: center;
}
